@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

:root {
    --primary-bg: #000000;
    --primary-text: #FFFFFF;
    --button-bg: #FCFCFD;
    --button-text: #36395A;
    --button-hover: black;
    --hover-text: #e96868;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Assistant', sans-serif;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg);
    padding: 1rem 2rem;
    height: 8rem;
    margin: 1rem 1.2rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.5rem rgba(153, 153, 153, 0.5);
    animation: slide-down 0.5s ease-out;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 6.4rem;
    height: 4.8rem;
    font-size: 4.4rem;
    line-height: 4.4rem;
}

.Companyname {
    color: var(--primary-text);
    font-size: 4rem;
    margin-left: 1rem;
}

.navbar-options {
    display: flex;
    align-items: center;
}

.navbar-options-btn a {
    color: var(--primary-text);
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    font-size: 2.1rem;
    margin-right: 4rem;
    transition: color 0.3s ease;
}

.navbar-options-btn a:hover {
    color: var(--hover-text);
}

.navbar-right {
    display: flex;
    align-items: center;
}

.button-name {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.8rem;
    color: var(--button-text);
    background-color: var(--button-bg);
    border: none;
    border-radius: 3.4rem;
    padding: 1rem 2.2rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:
        rgba(45, 35, 66, 0.2) 0 0.2rem 0.4rem,
        rgba(45, 35, 66, 0.15) 0 0.7rem 1.3rem -0.3rem,
        #D6D6E7 0 -0.3rem 0 inset;
}

.button-name:hover,
.button-name:focus {
    background-color: var(--button-hover);
    color: var(--primary-text);
    box-shadow:
        rgba(45, 35, 66, 0.3) 0 0.4rem 0.8rem,
        rgba(45, 35, 66, 0.2) 0 0.7rem 1.3rem -0.3rem,
        #D6D6E7 0 -0.3rem 0 inset;
    transform: translateY(-0.2rem);
}

.button-name:focus {
    outline: none; /* Removes the default focus outline */
    /* You can add a custom focus style here, for example: */
    box-shadow: 
        rgba(45, 35, 66, 0.3) 0 0.4rem 0.8rem,
        rgba(45, 35, 66, 0.2) 0 0.7rem 1.3rem -0.3rem,
        #D6D6E7 0 -0.3rem 0 inset,
        0 0 0 0.2rem rgba(255, 255, 255, 0.5); /* Adds a white glow effect */
}

.button-name:active {
    box-shadow: #D6D6E7 0 0.3rem 0.7rem inset;
    transform: translateY(0.2rem);
}